<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2 Factor Authentication</title>
</head>
<body>
    <main>
{% if user.is_authenticated %}
    <h3>Welcome {{ user.username }}!</h3>

    <a href="{% url 'two_factor:profile' %}">profile</a>

    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'two_factor:login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>